body {
  margin: 5;
  font-family: Arial, sans-serif;
  background-color: black;
  text-align: center;
  color: white;
}

.contenedor {
  text-align: center;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.7);
  /* Fondo negro semi-transparente */
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 40px;
  color: #f1c40f;
  text-align: center;
  font-weight: bold;
}

.main-header p {
  font-family: 'Audiowide', sans-serif;
}

.main-header {
  background-color: #17202a;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: "Audiowide", sans-serif;
}

h3 {
  text-align: center;
}

.day{
  background-color: #17202a;
  padding: 10px 0px 0px 0px; /* Arriba, Derecha, Abajo, Izquierda */
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.artists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 90px;
  height: fit-content;
  gap: 15px;
  background-color: black;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  min-height: 350px;
  padding: 15px;
  background: url("   https://plus.unsplash.com/premium_photo-1681558402429-9427dadca430?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2FuZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D") center/cover no-repeat fixed;
  border-radius: 10px;
  justify-content: center;
  gap: 5px;
}

.artist img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.artist p {
  margin-top: 20px;
  font-weight: bold;
  width: 280px;
  padding: 5px;
  position: absolute;
  bottom: -3px; /* Para que se sitúe justo donde comienza el fondo */
  left: 0;
  font-family: 'Audiowide', sans-serif;
  color: #34495e;
}

.tabla {
  text-align: center;
  background: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;

}

.tabla th,
.table td {
  font-size: larger;
  font-style: normal;
  color: rgba(0, 140, 255, 0.923);
  padding: 20px;
}

#secciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
  height: fit-content;
  gap: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#secciones h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

#secciones img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#cartel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
  height: fit-content;
  gap: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#cartel h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

#cartel img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#formulario {
  margin: auto;
  background: rgb(240, 240, 240);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario h1 {
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.radios {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.radios label {
  display: flex;
  align-items: center;
  font-weight: normal;
}

button {
  width: 30%;
  background: #f1c40f;
  color: white;
  margin-left: auto;
  display: block;
  font-family: 'Audiowide', sans-serif;

}

button:hover {
  background: rgb(31, 13, 185);
}

#descripcion {
  background-image: url("concierto-playa.jpg");
  background-size: 91.5%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminos {
  color: black;
  font-weight: normal;
}

#tickets {
  background-image: url("festival.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  color: white;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#lineup h2{
  color: #3498db;
}


#tickets h2 {
  color: #FF8C00;
  justify-content: center;
  position: absolute;
  top: -60px;

}